<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:utils="http://www.thymeleaf.org/extras/java8time"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:inline="text">

<th:block layout:fragment="meta">
    <title>건필 - 관리자페이지</title>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/css/pages/contest/contest.css"/>
    <link rel="stylesheet" href="/css/pages/admin.css"/>
    <link rel="stylesheet" href="/css/pages/board/list.css"/>
    <link rel="stylesheet" href="/css/pages/board/board.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
</th:block>

<body data-mode = "admin">
    <div layout:fragment="content">
        <div class="admin-container">

            <!-- 사이드바 -->
            <aside class="admin-sidebar card p-20">
                <h1 class="border-bottom">관리자 메뉴</h1>
                <div>
                    <h3>건필 픽 관리</h3>
                    <ul class="dot-list">
                        <!--<li><a th:href="@{/admin/dashboard}">대시보드</a></li>
                        <li><a th:href="@{/admin/reports}">버그/신고 내역</a></li>
                        <li><a th:href="@{/}">사이트 돌아가기</a></li>
                        <li><a th:href="@{/admin/users}">회원 관리</a></li>-->
                        <li><a href="#" data-action="add" class="admin-menu">건필 픽 추가</a></li>
                        <li><a href="#" data-action="delete" class="admin-menu">건필 픽 삭제</a></li>
                    </ul>
                </div>

                <div>
                    <h3>카테고리 관리</h3>
                    <ul class="dot-list">
                        <li><a href="#" data-action="add" data-section="categories" class="admin-menu">카테고리 추가</a></li>
                        <li><a href="#" data-action="delete" data-section="categories" class="admin-menu">카테고리 삭제</a></li>
                    </ul>
                </div>

                <div>
                    <h3>전체 공지 작성 및 관리</h3>
                    <ul class="dot-list">
                        <li><a href="#" data-action="list" data-section="notice" class="admin-menu">공지 목록</a></li>
                        <li><a href="#" data-action="add" data-section="notice" class="admin-menu">공지 작성</a></li>   
                        <li><a href="#" data-action="edit" data-section="notice" class="admin-menu">공지 수정</a></li>
                        <li><a href="#" data-action="delete" data-section="notice" class="admin-menu">공지 삭제</a></li>  
                    </ul>
                </div>


                <div>
                    <h3>배너 관리</h3>
                    <ul class="dot-list">
                        <li><a href="#" data-action="add" data-section="banner" class="admin-menu">배너 추가</a></li>
                        <li><a href="#" data-action="list" data-section="banner" class="admin-menu">배너 목록</a></li>
                    </ul>
                </div>

                <div>
                    <h3>검색 색인 관리</h3>
                    <ul class="dot-list">
                        <li><a href="/api/search/board/index-all" target="_blank">게시글 전체 색인</a></li>
                        <li><a href="/api/search/board/delete-all" target="_blank" onclick="return confirm('정말로 모든 게시글 색인을 삭제하시겠습니까?')">게시글 색인 전체 삭제</a></li>
                        <li><a href="/api/search/board/reindex-all" target="_blank" onclick="return confirm('기존 색인을 모두 삭제하고 다시 생성하시겠습니까?')">게시글 전체 재색인</a></li>
                    </ul>
                </div>
            </aside>

            <!-- 본문 -->
            <main class="admin-wrapper card p-20">
                <div id="admin-content" class="admin-content">
                    <div>좌측의 메뉴를 선택해주세요.</div>
                   <!-- <div th:replace="~{admin/_book-pick-add-fragment :: bookPickAddFormFragment}"></div> -->
                </div>
            </main>

        </div>
    </div>

    <th:block layout:fragment="script">
        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
        <script src="/js/admin/admin.js"></script>
        <script src="/js/admin/bookPickAdd.js"></script>
        <script src="/js/book/bookSearch.js"></script>
        <script src="/js/commons/pagination.js"></script>
    </th:block>
</body>
</th:block>
</html>
