/* START : 메인 레이아웃 */
.admin-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap : 1rem;
}

.admin-sidebar > h1 {
    border-bottom-color: black;
    margin: 1px 0;
}

.delete-book-info{
    display: flex;
    gap : 1rem;
}

.delete-book-info div:first-child{
    width : 150px;
}


.form-group label,
.selected-book div:first-child{
    font-weight: bold;
    font-size : 22px;
}
/* END : 메인 레이아웃  */