/* START : 게시판 */
.challenge,
.community,
.contest {
    padding : 20px;
}

/* END : 게시판 */


/* START : 책 영역 */

.books-section {
    display: flex;
    gap : 20px;
}

.books-section .latest-books-section{
    flex : 1;
}

.books-section  .recommended-books-section{
    flex : 0.5;
}


@media (max-width: 768px) {
    .books-section {
        flex-direction: column; /* 가로 -> 세로로 전환 */
        gap : 10px;
    }

    .books-section .latest-books-section,
    .books-section .recommended-books-section {
        width: 100%; /* 각 요소가 전체 너비 차지 */
    }
}



.latest-books-section, .recommended-books-section{
    overflow: hidden;
}

.latest-books-container {
    box-sizing: border-box;
}

.latest-books-wrapper {
    display: flex;
    gap : 5px;

}


.book-carousel, .book-pick-carousel {
    width: 100%;
    padding: 10px 0;
    position: relative; /* 중요! 화살표 위치 기준 */
}

.book-carousel .swiper-slide {
    flex-shrink: 0;
}

.latest-book-card {
    width: 150px;
    text-align: center;
}


.book-carousel .swiper-button-prev,
.book-carousel .swiper-button-next,
.swiper-book-pick-button-prev,
.swiper-book-pick-button-next
{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-carousel .swiper-button-prev {
    left: 0;
}

.book-carousel .swiper-button-next {
    right: 0;
}


/* 건필 픽 */
.book-pick-reason {
    font-weight: bold;
    font-style : italic;
}

.img-wrapper{
    display: flex;
    justify-content: center;
}

.recommend-books-header,
.latest-books-header{
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
}

/* END : 책 영역 */