.mypage-wrapper {
max-width: 800px;
}


.tab-btn.active {
    background: #357edd;
    color: white;
}

/* START : 회원정보 수정 탭 */
.tabs {
    display: flex;
    flex-wrap: nowrap;       /* 줄바꿈 방지 */
    gap: 6px;
    margin-bottom: 12px;
}

.tabs button {
    flex: 1 1 auto;           /* 버튼들이 줄어들 수 있도록 */
    white-space: nowrap;     /* 버튼 내부 텍스트 줄바꿈 방지 */
    min-width: 100px;         /* 너무 좁아지는 것 방지 */
    padding : 12px 3px;
}

/* END : 회원정보 수정 탭 */
/* START : 회원정보 수정 */
.my-info,
.edit-info,
.edit-password{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info-item {
    width: 100%;
}

.info-item label {
    display: block;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: bold;
}

.input-box {
    flex: 1; /* 최대한 너비 차지 */
}

.input-box input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
}

.button-box .basic-btn {
    height: 40px;
}


.nickname-input {
    gap :16px;
}

.withdrawal-box {
    display: flex;
    justify-content: flex-end;
}

.withdrawal-box a {
    padding: 10px 20px;
}


/* END : 회원정보 수정 */
