# Java
*.class
*.jar
*.war
*.log

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Build
/build/
/target/
/out/

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
build/

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.bak
*.swp

# nginx 설정
nginx/ssl/*
!nginx/ssl/.keep

# Others
node_modules/
application-prod.yml
