# Java
*.class
*.jar
*.war
*.log

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Build
/build/
/logs/
/target/
/out/

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
build/

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.bak
*.swp

# nginx 설정
nginx/ssl/**
!nginx/ssl/.keep
nginx/**
nginx/nginx.exe
!nginx/conf/nginx.conf
!nginx/conf.d/default.conf

# 설정 파일
*.env


#kibana 설정
kibana/**

*.crt
*.key

# Others
node_modules/

elasticsearch-*/

*.lock
*.pid

.idea/
*.iml


*.log

*.png

*.jpg

*.pdf

.vscode/*


