<div th:fragment="reviewListFragment">
    <article th:each="review : ${reviews}" id= "review-list" class="review-card">
        <div class="review-header">
            <p><strong th:text="${review.username}">닉네임</strong> 님의 평가</p>
            <div th:text="${#temporals.format(review.createdAt, 'yyyy-MM-dd HH:mm:ss')}">작성시간</div>
        </div>
        <p>⭐ <span th:text="${review.rating}">5</span>점</p>
        <p th:text="${review.content}">좋은 책입니다.</p>
        <button class="like-btn review-like-btn"
                th:classappend="${review.likedByCurrentUser} ? 'review-liked' : ''"
                th:attr="data-review-id=${review.reviewId}">
            <i th:class="'like-icon review-like-icon fa-thumbs-up ' + (${review.likedByCurrentUser} ? 'fa-solid' : 'fa-regular')"></i>
            <span class="like-count" th:text="${review.likeCount} ?: 0">0</span>
        </button>

        <!--삭제 버튼-->
        <th:block th:if="${currentUserId == review.userId}">
            <button class="delete-btn review-delete-btn" th:attr="data-review-id=${review.reviewId}">
                <i class="fa-solid fa-trash delete-icon"></i>
            </button>
        </th:block>
    </article>
</div>