<th:block th:fragment="reviewListFragment">
    <div id = "review-wrapper" class="review-wrapper" >

        <div th:if="${#lists.isEmpty(reviews) and (bookPick == null)}" class="comment-empty">
            등록된 리뷰가 없습니다.
        </div>



        <article th:if="${not #lists.isEmpty(reviews)}"
                th:each="review : ${reviews}"
                class="review-card"
                th:attr="data-review-id=${review.reviewId}">


            <div class="review-header">
                <p><strong th:text="${review.username}">닉네임</strong> 님의 평가</p>
                <div th:text="${#temporals.format(review.createdAt, 'yyyy-MM-dd HH:mm:ss')}">작성시간</div>
            </div>

            <!--존재 시 -->
            <div class="review-body" th:if="${!review.isDeleted}">
                <p>⭐ <span th:text="${review.rating}">5</span>점</p>
                <p th:text="${review.content}">좋은 책입니다.</p>
            </div>

            <!--삭제 시-->
            <div class="review-body" th:if="${review.isDeleted}">
                <strong>[삭제된 리뷰입니다]</strong>
            </div>


            <div class="review-footer" th:if="${!review.isDeleted}">
                <!--좋아요 버튼-->
                <button class="like-btn review-like-btn"
                        th:classappend="${review.likedByCurrentUser} ? 'review-liked' : ''"
                        th:attr="data-review-id=${review.reviewId}">
                    <i th:class="'like-icon review-like-icon fa-thumbs-up ' + (${review.likedByCurrentUser} ? 'fa-solid' : 'fa-regular')"></i>
                    <span class="like-count" th:text="${review.likeCount} ?: 0">0</span>
                </button>

                <!--삭제 버튼-->
                <th:block th:if="${currentUserId == review.userId}">
                    <button class="delete-btn review-delete-btn" th:attr="data-review-id=${review.reviewId}">
                        <i class="fa-solid fa-trash delete-icon"></i>
                    </button>
                </th:block>


                <!--답글버튼-->
                <th:block th:if="${currentUserId != null}">
                    <button type="button" class="reply-toggle-btn"
                            th:attr="data-review-id=${review.reviewId}, data-parent-id=null">답글
                    </button>
                    <div class="reply-form-wrapper" style="display: none;"
                         th:attr="data-review-id=${review.reviewId}">
                        <form class="reply-form" onsubmit="return false;">
                            <input type="hidden" name="reviewId" th:value="${review.reviewId}"/>
                            <!--    <input type="hidden" name="parentId" th:value="" />-->
                            <textarea name="commentContent" class="comment-input" placeholder="답글을 입력하세요..."></textarea>
                            <button type="submit" class="submit-reply-btn btn btn-primary">등록</button>
                        </form>
                    </div>
                </th:block>
            </div>


            <!-- 댓글 목록 -->
            <div class="review-comments">
                <div th:each="comment : ${review.reviewCommentDtos}" th:if="${comment.parentId == null}"
                     class="reply-form-wrapper">
                    <div class="review-comment">
                        <div class="review-reply-wrapper">
                            <div class="reply-meta">
                                <span class="reply-author" th:text="${comment.username}">작성자</span>
                                <span class="reply-time"
                                      th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm:ss')}">시간</span>
                            </div>
                            <div class="reply-content" th:text="${comment.content}">내용</div>

                            <th:block th:if="${currentUserId == comment.userId}">
                                <div class="reply-footer">
                                    <button class="reviewComment-delete-btn" th:attr="data-reviewcomment-id=${comment.reviewCommentId}">
                                        <i class="fa-solid fa-trash delete-icon"></i>
                                    </button>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</th:block>