.flex-display-columns{
    display: flex;
    flex-direction: column;
}

.card-wrapper {
    gap: 2rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.unAuthMsg {
    color : gray;
    margin-top : 20px;
}

.border-bottom {
    border-bottom: 2px solid #ddd;
}

.border-top {
    border-top: 2px solid #ddd;
}


.basic-btn-border {
    border: 1px solid #ccc;
    border-radius: 4px;
}


.flex-wrapper {
    display: flex;
    width: 100%;
}

.p-20 {
    padding : 20px;
}

.clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;  /* ✅ 최대 줄 수 */
    line-clamp: 2;
    text-overflow: ellipsis;
    word-break: break-word;
}


.clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;  /* ✅ 최대 줄 수 */
    line-clamp: 2;
    text-overflow: ellipsis;
    word-break: break-word;
}

.clamp-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;  /* ✅ 최대 줄 수 */
    line-clamp: 2;
    text-overflow: ellipsis;
    word-break: break-word;
}


.dot-list{
    list-style-type: disc;      /* ● 점 */
    list-style-position: inside;
}

.admin-sidebar > h1 {
    border-bottom-color: black;
    margin: 1px 0;
}



/* 페이지내이션 시작 */
.pagination-area {
    padding: 15px;
}


.pagination {
    display: flex;
    gap: 6px;
    justify-content: center;
}


.pagination button {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    background-color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
}

.pagination button:hover {
    background-color: #f0f0f0;
    color: black;
}

.pagination button.active {
    background-color: var(--primary-color);
    color: #fff;
    border-color: #007bff;
    font-weight: bold;
}

/* 페이지내이션 끝 */




/* 카테고리 디자인 */
.category-filter {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.category-btn {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.category-btn.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

/* 카테고리 디자인 끝*/

/*START : 목록으로  ,삭제 등 버튼 디자인 */
.post-actions {
    display: flex;
    gap: 10px;
}
/*END : 목록으로  ,삭제 등 버튼 디자인 */

