<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.geonpil.mapper.review.ReviewMapper">

    <resultMap id="ReviewResultMap" type="com.geonpil.domain.Review">
        <id property="reviewId" column="review_id"/>
        <result property="bookId" column="book_id"/>
        <result property="userId" column="user_id"/>
        <result property="rating" column="rating"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findByBookId" parameterType="long" resultMap="ReviewResultMap">
        SELECT *
        FROM reviews
        WHERE book_id = #{bookId} AND is_deleted = false
        ORDER BY created_at DESC
    </select>


    <select id="getReviewsSortedByLikes" parameterType="long" resultMap="ReviewResultMap">
        SELECT * FROM reviews
        WHERE book_id = #{bookId} AND is_deleted = 0
        ORDER BY like_count DESC, created_at DESC
    </select>

    <insert id="insertReview" parameterType="com.geonpil.domain.Review" useGeneratedKeys="true" keyProperty="reviewId" keyColumn = "review_id">
        INSERT INTO reviews (book_id, user_id, rating, content, created_at, updated_at)
        VALUES (#{bookId}, #{userId}, #{rating}, #{content}, NOW(), NOW())
    </insert>

    <update id="softDeleteById" parameterType="long">
        UPDATE reviews
        SET is_deleted = true, updated_at = NOW()
        WHERE review_id = #{id}
    </update>



    <update id ="increaseLikeCount" parameterType="Long">
        UPDATE reviews
        SET like_count = like_count + 1
        WHERE review_id = #{reviewId};
    </update>


    <update id ="decreaseLikeCount" parameterType="Long">
        UPDATE reviews
        SET like_count = like_count - 1
        WHERE review_id = #{reviewId} AND like_count > 0;
    </update>

</mapper>
