<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:inline="text">

<th:block layout:fragment="meta">
    <title>건필 - 공모전</title>
</th:block>

<body>
<div layout:fragment="content">
    <div class="board-header" th:text = "${boardName}">게시판 이름</div>
    <div class="board-wrapper">
        <div class="board-container">
            <div class="board-list">
                <div class="board-list-header">
                    <span>카테고리</span>
                    <span>제목</span>
                    <span>작성자</span>
                    <span>작성일</span>
                    <span>조회</span>
                    <span>추천</span>
                </div>

                <div th:if="${#lists.isEmpty(posts)}" class="empty-message">
                    등록된 글이 없어요.
                </div>
                <!-- 게시글 행 -->
                <div class="board-row" th:each="post : ${posts}">
                    <span class="category" th:text="${post.categoryName}">일반</span>
                    <span class="title">
                        <a th:href="@{/board/list/detail/{id}(id=${post.postId}, boardCode=${boardCode})}"
                           th:text="${post.title} + ' [' + ${post.commentCount} + ']'"
                           th:title="${post.title}">제목</a>
                    </span>
                    <span class="author" th:text="${post.nickname}">작성자</span>
                    <span class="date" th:text="${#dates.format(post.createdAt, 'yy-MM-dd')}">25-05-01</span>
                    <span class="views" th:text="${post.viewCount}">147</span>
                    <span class="likes" th:text="${post.likeCount}">1</span>
                </div>
            </div>

            <div class="board-footer">
                <div class="pagination">
                    <a th:if="${page > 1}"
                       th:href="@{/board/list(page=${page - 1}, boardCode=${boardCode})}">◀ 이전</a>

                    <a th:each = "i : ${#numbers.sequence(1,totalPages)}"
                       th:href = "@{/board/list(page=${i}, boardCode = ${boardCode})}"
                       th:classappend = "${i == page} ? 'active'"
                       th:text="${i}">1</a>


                    <a th:if="${page < totalPages}"
                       th:href="@{/board/list(page=${page + 1}, boardCode=${boardCode})}">다음 ▶</a>
                </div>
                <div class="write-btn">
                    <a th:href="@{/board/write(boardCode=${boardCode})}" class="basic-btn">✍ 글쓰기</a>
                </div>
            </div>

        </div>




        <div class="board-banner">배너자리</div>

    </div>
</div>
    <th:block layout:fragment="script">
    </th:block>
</body>
</html>
