<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:inline="text">

<th:block layout:fragment="meta">
    <title>건필 - 공모전</title>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/css/board/list.css">
</th:block>

<body data-action="board">
<div layout:fragment="content">
    <div class="board-header" th:text="${boardName}">게시판 이름</div>
    <div class="board-section" style="gap :30px">
        <div class="board-container">
            <div class="category-filter">
                <!-- 전체 버튼 -->
                <button class="category-btn"
                        data-id=""
                        onclick="selectAllCategories(this)">
                    전체
                </button>

                <!-- 카테고리 버튼 -->
                <button type="button"
                        th:each="cat : ${categories}"
                        th:data-id="${cat.id}"
                        th:text="${cat.categoryName}"
                        class="category-btn"
                        onclick="toggleCategory(this)">
                </button>
            </div>

            <div class="posts-wrapper card">
                <div class="posts-header">
                    <span>카테고리</span>
                    <span>제목 및 작성자</span>
                    <span>작성일</span>
                    <span>조회</span>
                    <span>추천</span>
                </div>
                <div id = "post-list" th:include="~{board/_search-result-fragment :: searchResultFragment}">
                </div>
            </div>


            <div class="board-control-bar">
                <div class="board-search-box">
                    <input type="text" id="search-input" placeholder="검색어를 입력하세요"/>
                    <select id="searchType">
                        <!--<option value="title">제목</option>-->
                        <option value="titleContent">제목+내용</option>
                    </select>
                    <button type="button" id ="search-btn" class = "search-btn">🔍</button>
                </div>

                <a th:href="@{/board/write(boardCode=${boardCode})}" class="write-btn basic-btn">✍ 글쓰기</a>
            </div>


<!--            <div id="pagination-area">
                <div th:replace="~{commons/_pagination-fragment :: paginationFragment(${pageInfo}, ${action})}">
                </div>
            </div>-->
        </div>


        <div class="board-banner">배너자리</div>

    </div>
</div>
<th:block layout:fragment="script">
    <script src="/js/board/board.js"></script>
    <script src="/js/board/search.js"></script>
    <script src="/js/commons/pagination.js"></script>
</th:block>
</body>
</html>
