<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">

<!-- Toast UI Editor CSS -->

<!-- Toast UI Editor Script -->
<th:block layout:fragment="meta">
  <title>건필 - 글쓰기</title>
</th:block>


<th:block layout:fragment="css">
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
</th:block>


<body>
<div layout:fragment="content">
  <div class="write-wrapper card p-20">
    <div class="write-card">
    <h2 class="form-title">✍ 글쓰기</h2>

    <form id="postForm" th:action="@{/board/write/save}" method="post" enctype="multipart/form-data">

      <!-- 분류 선택 -->
        <div class="form-group">
          <select id="categoryId" name="categoryId" required class="form-select">
            <option value="">-- 분류 선택 --</option>
            <th:block th:each="cat : ${categories}">
              <option th:value="${cat.id}" th:text="${cat.categoryName}"></option>
            </th:block>
          </select>
        </div>

        <!-- 제목 -->
        <div class="form-group">
          <input type="text" id="title" name="title" class="form-input" placeholder="제목을 입력하세요" required />
        </div>

        <!-- 내용 -->
        <div class="form-group">
          <div id="editor" class="form-editor"></div>
        </div>

        <!-- 파일 첨부 -->
        <div class="form-group">
          <label for="files">파일 첨부</label>
          <input type="file" id="files" name="files" multiple class="form-input"/>
        </div>

        <!-- 버튼 -->
        <div class="form-buttons">
          <button type="submit" class="basic-btn">등록</button>
          <button type="button" class="cancel-btn" onclick="history.back()">취소</button>
        </div>

        <input type="hidden" name="boardCode" th:value="${boardCode}" />
        <input type="hidden" name="content" id="content-hidden" />
      </form>
  </div>
</div>
</div>

<th:block layout:fragment="script">
  <!-- 공통 toast editor 초기화 -->
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="/js/toast-editor.js"></script>
</th:block>
</body>
</html>
