<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<!-- layout.html -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ✅ 메타데이터 슬롯 -->
    <th:block layout:fragment="meta">
        <title>건필</title> <!-- 기본 제목 -->
    </th:block>

    <!-- ✅ CSS 슬롯 -->
    <th:block layout:fragment="css"></th:block>

    <link rel="stylesheet" href="/css/style.css" />
</head>



<body>
    <div th:replace="~{fragments/header :: header(requestUri=${requestUri})}"></div>

    <main layout:fragment="content" class="main-container"></main>

    <div th:replace="~{fragments/footer :: footer(requestUri=${requestUri})}"></div>

    <th:block layout:fragment="script"></th:block>


    <div class="bug-report-btn-wrapper">
        <a href="/bug-report" class="bug-report-btn" target="_blank">🐞 버그 제보 및 개선 사항 남기기</a>
    </div>
</body>

</html>
