<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>건필</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>


<body>
    <div th:replace="~{fragments/header :: header(requestUri=${requestUri})}"></div>

    <main layout:fragment="content" class="main-container"></main>

    <div th:replace="~{fragments/footer :: footer(requestUri=${requestUri})}"></div>

    <th:block layout:fragment="script"></th:block>
</body>

</html>
