<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>건필 메인</title>
</head>
<body>
<div layout:fragment="content">
    <div class="banner-container">
        <div class="main-banner">
            <a href="https://www.daesan.or.kr/daesan-award/2025/creative-fund.html" target='_blank'><img
                    src="/images/banner/banner-main1.jpg"></a>
        </div>
        <div class="sub-banners">
            <div><a href="http://ahnchangho.or.kr/_memorial_hall/sub/sub03_03.php" target='_blank'><img
                    src="/images/banner/banner-sub1.jpg"></a></div>
            <div><a href="http://hscf.co.kr/kor/sub6_01.php?wr_id=14802" target='_blank'><img
                    src="/images/banner/banner-sub2.jpg"></a></div>
            <div><a href="https://storynew.kyobobook.co.kr/story/cont/initStoryContStoryPros.ink" target='_blank'><img
                    src="/images/banner/banner-sub3.jpg"></a></div>
            <div><a href="https://www.youtube.com/watch?v=zhk-8EanZbM&t=1516s" target='_blank'><img
                    src="/images/banner/banner-sub4.jpg"></a></div>
        </div>
    </div>

    <div class="main-section">
        <div class="card community">
            <div class="card-header">📚 커뮤니티</div>
            <div class="card-body">
                <div th:if="${#lists.isEmpty(communityPosts)}" class="empty-message">
                    등록된 글이 없어요.
                </div>

                <a class="post-row" th:href="@{/board/list/detail/{id}(id=${post.postId}, boardCode=${post.boardCode})}"
                   th:each="post : ${communityPosts}">
                    <span class="category" th:text="|[${post.categoryName}]|">카테고리</span>
                    <span class="title-wrapper">
            <span class="title" th:text="${post.title}">제목</span>
            <span class="commentCount" th:text="|[${post.commentCount}]|">조회수</span>
          </span>
                    <span class="nickname" th:text="${post.nickname}">작성자</span>
                </a>
            </div>
            <div class="card-footer"><a href="board/list?boardCode=1">커뮤니티 글 더보기 ></a></div>
        </div>

        <div class="card challenge">
            <div class="card-header">✍️ 도전 건필</div>
            <div class="card-body">
                <div th:if="${#lists.isEmpty(challengePosts)}" class="empty-message">
                    등록된 글이 없어요.
                </div>

                <a class="post-row" th:href="@{/board/list/detail/{id}(id=${post.postId}, boardCode=${post.boardCode})}"
                   th:each="post : ${challengePosts}">
                    <span class="category" th:text="|[${post.categoryName}]|">카테고리</span>
                    <span class="title-wrapper">
            <span class="title" th:text="${post.title}">제목</span>
            <span class="commentCount" th:text="|[${post.commentCount}]|">조회수</span>
          </span>
                    <span class="nickname" th:text="${post.nickname}">작성자</span>
                </a>
            </div>
            <div class="card-footer"><a href="board/list?boardCode=2">도전 건필 더보기 ></a></div>
        </div>

        <div class="card contest">
            <div class="card-header">📢 공모전</div>
            <div class="card-body">
                <div th:if="${#lists.isEmpty(contestPost)}" class="empty-message">
                    등록된 글이 없어요.
                </div>

                <div class="main-contest-container">
                    <a class="main-contest-wrapper"
                       th:href="@{/contest/detail/{id}(id=${contest.postId}, boardCode=${contest.boardCode})}"
                       th:each="contest : ${contestPost}">
                        <div class="contest-poster">
                            <img th:src="@{${contest.posterUrl}}" alt="공모전 포스터">
                        </div>
                        <div class="main-contest-info">
                            <div class="main-contest-category" th:text="'[' + ${contest.categoryNames}+ ']'"></div>
                            <div class="main-contest-title" th:text="${contest.title}">[다이슨] 공모전 제목</div>
                            <div class="main-contest-subtitle" th:text="${contest.subtitle}"></div>
                            <div class="main-contest-host" th:text="${contest.hostName}"></div>
                            <div class="main-contest-bottom">
                                <span class="dday"
                                      th:text="${contest.dDay > 0 ? 'D-' + contest.dDay : (contest.dDay == 0 ? '오늘마감' : '마감')}"
                                      th:classappend="${contest.dDay == 0 ? ' today' : (contest.dDay < 0 ? ' expired' : '')}">
                                  D-69
                                </span>
                                <span class="view-count">조회수 : <span
                                        th:text="${contest.viewCount}">41914</span></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-footer"><a href="contest/list?boardCode=3">공모전 더보기 &gt;</a></div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script>

    </script>
</th:block>
</body>
</html>
