<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geonpil.mapper.book.BookMapper">

    <resultMap id="BookResultMap" type="com.geonpil.dto.bookDetail.BookEntity">
        <id property="bookId" column="book_id"/>
        <result property="isbn" column="isbn"/>
        <result column="isbn10" property="isbn10"/>
        <result column="isbn13" property="isbn13"/>
        <result property="title" column="title"/>
        <result property="authors" column="authors"/>
        <result property="publisher" column="publisher"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="contents" column="contents"/>
        <result property="datetime" column="datetime"/>
        <result property="price" column="price"/>
        <result property="salePrice" column="sale_price"/>
        <result property="category" column="category"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="findByIsbn10" parameterType="string" resultMap="BookResultMap">
        SELECT * FROM books WHERE isbn10 = #{isbn10}
    </select>

    <select id="findByIsbn13" parameterType="string" resultMap="BookResultMap">
        SELECT * FROM books WHERE isbn13 = #{isbn13}
    </select>

    <insert id="insertBook" parameterType="com.geonpil.dto.bookDetail.BookEntity" useGeneratedKeys="true" keyProperty="bookId" keyColumn = "book_id">
        INSERT INTO books (
        isbn, isbn10, isbn13, title, authors, publisher, thumbnail, contents,
        datetime, price, sale_price, category, status
        )
        VALUES (
        #{isbn},#{isbn10},#{isbn13}, #{title}, #{authors}, #{publisher}, #{thumbnail}, #{contents},
        #{datetime}, #{price}, #{salePrice}, #{category}, #{status}
        )
    </insert>


    <select id="findById" parameterType="long" resultMap="BookResultMap">
        SELECT *
        FROM books
        WHERE book_id = #{bookId}
    </select>

    <select id="findLastestReviewedBook" resultMap="BookResultMap">
        SELECT b.*
        FROM books b
                 JOIN (
            SELECT DISTINCT r.book_id, MAX(r.created_at) as latest_review_date
            FROM reviews r
            WHERE r.is_deleted = false
            GROUP BY r.book_id
        ) latest_reviews ON b.book_id = latest_reviews.book_id
        ORDER BY latest_reviews.latest_review_date DESC
        LIMIT 16;
    </select>

</mapper>
