<th:block th:fragment="contestListFragment(contests)">
    <div id= "contest-list" class="contest-list">

        <div th:if="${#lists.isEmpty(contests)}" class="empty-message">
            등록된 공모전이 없습니다.
        </div>


        <div class="contest-row"
             th:each="contest : ${contests}"
             th:attr="data-id=${contest.postId}"
             th:unless="${#lists.isEmpty(contests)}">
            <div class="poster-thumb-wrapper">
                <img th:src="@{${contest.posterUrl}}" onerror="this.onerror=null; this.src='/images/commons/no-poster.png';" alt="포스터" class="poster-thumb">
            </div>

            <div class="contest-info">
                <div class="contest-category" th:text="'[' + ${contest.categoryNames} + ']'">카테고리</div>
                <div class="contest-title" th:text="${contest.title}">제목</div>
                <div class="contest-subtitle" th:text="${contest.subtitle}">공모전 요약 설명...</div>
                <div class="contest-host" th:text="'주최: ' + ${contest.hostName}"></div>
                <div class="dday" th:text="${T(com.geonpil.util.DdayUtils).getLabel(contest.dDay)}"
                     th:classappend="${T(com.geonpil.util.DdayUtils).getLabelClass(contest.dDay)}">
                </div>
                <div class="contest-meta" th:text="'조회수: ' + ${contest.viewCount}">조회수: 1234</div>
                <div class="contest-meta" th:text="${#dates.format(contest.createdAt, 'yyyy-MM-dd')}"></div>
            </div>
        </div>

    </div>
</th:block>