<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout.html"
      th:inline="text">

<th:block layout:fragment="meta">
    <title>건필 - 글 상세</title>
</th:block>


<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/css/pages/contest/contest.css"/>
    <link rel="stylesheet" href="/css/pages/contest/detail.css"/>
    <link rel="stylesheet" href="/css/pages/board/board.css"/>
</th:block>

<body>
<div layout:fragment="content">
    <div class="contest-container-detail">
        <div class="contest-desc-container">

            <div class=contest-detail-title th:text="${post.title}"></div>
            <div class=contest-detail-subtitle th:text="${post.subtitle}"></div>
            <!-- ✅ 상단 요약 -->
            <div class="contest-meta">
                <span class="view-count">조회수: <span th:text="${post.viewCount}">201</span></span>
            </div>


            <div class="contest-desc-wrapper">
                <div class="info-grid">
                    <div class="info-row">
                        <span class="info-label">주관기관</span>
                        <span class="info-value" th:text="${post.hostName}">삼성</span>
                    </div>
                    <div class="info-row">
                        <span class="info-label">카테고리</span>
                        <span class="info-value" th:text="${post.categoryNames}">카테고리</span>
                    </div>
                    <div class="info-row">
                        <span class="info-label">신청기간</span>
                        <span class="info-value"     th:text="${post.endDate == null} ?
                                                              ${#temporals.format(post.startDate, 'yyyy-MM-dd')} + ' ~ 마감 미정' :
                                                              ${#temporals.format(post.startDate, 'yyyy-MM-dd')} + ' ~ ' + ${#temporals.format(post.endDate, 'yyyy-MM-dd')}">
                        </span>
                        <span class="dday" th:text = "${post.dDay} == '-999' ? '마감 미정' : 'D-' + ${post.dDay} " > </span>
                    </span>
                    </div>
                    <div class="info-row">
                        <span class="info-label">총 상금</span>
                        <span class="info-value" th:text="${post.totalPrize}"></span>
                    </div>
                    <div class="info-row">
                         <span class="info-label">문의정보</span>
                        <span class="info-value" th:text="${post.contactInfo}"></span>
                    </div>
                    <div class="info-row">
                        <span class="info-label">지원링크</span>
                        <span class="info-value">
                            <a th:href="${#strings.startsWith(post.applyUrl, 'http') ? post.applyUrl : 'https://' + post.applyUrl}"
                               target="_blank" class="apply-link-btn">
                              지원링크
                            </a>
                        </span>
                    </div>
                    <!-- 첨부 파일 -->
                    <th:block th:if="${attachments != null and !#lists.isEmpty(attachments)}">
                      <div class="info-row">
                          <span class="info-label">첨부파일</span>
                          <span class="info-value">
                              <ul class="attachment-list">
                                  <li th:each="att : ${attachments}">
                                      <a th:href="${att.filePath}" th:text="${att.originalName}" target="_blank" download></a>
                                  </li>
                              </ul>
                          </span>
                      </div>
                    </th:block>


                    <div class="info-row">
                        <div class="info-label">공유하기</div>
                        <div class="share-buttons">
                            <button class = "link-copy-btn" onclick="copyLink()">
                                <i class="fas fa-link"></i>
                                <div>링크복사</div>
                            </button>
                            <button id="kakao-link-btn" type="button" class="kakao-link-btn">
                                <img src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"  alt ="카카오톡"/>
                                <div>카카오톡</div>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="post-image-wrapper">
                    <img th:src="@{${post.posterUrl}}" alt="포스터 이미지" class="poster-image" onclick="openImageModal(this)">
                </div>
                <div id="imageModal" class="image-modal">
                    <span class="close-modal" onclick="closeImageModal()">&times;</span>
                    <img class="modal-content" id="expandedImg">
                </div>

            </div>
        </div>

        <div class="post-wrapper card" style = "padding : 20px" >
            <div class="post-content toastui-editor-contents" th:utext="${post.content}"></div>
        </div>

        <div class="post-actions">
            <a th:href="@{/contest/list(boardCode=${boardCode})}" class="basic-btn">📌 목록으로</a>

            <th:block sec:authorize="isAuthenticated()">
                <form th:if="${post.userId == #authentication.principal.id}"
                      th:action="@{/board/delete/{id}(id=${post.postId}, boardCode =${boardCode})}" method="post"
                      onsubmit="return confirm('정말 삭제하시겠습니까?')" style="display: inline;">
                    <button class="delete-btn">삭제</button>
                </form>
                <!-- 수정 -->
                <div th:if="${post.userId == #authentication.principal.id}">
                    <a th:href="@{/contest/edit/{id}(id=${post.postId}, boardCode=${boardCode})}" class="basic-btn">✏️
                        수정</a>
                </div>
            </th:block>
        </div>

        <input type="hidden" id="post-title" th:value="${post.title}" />
        <input type="hidden" id="post-subtitle" th:value="${#strings.abbreviate(post.subtitle, 80)}" />
        <input type="hidden" id="post-image" th:value="${post.posterUrl}" />


    </div>
</div>


<th:block layout:fragment="script">
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="/js/commons/modal.js"></script>
    <script>
        Kakao.init('11874ab3e4119c5f4875a16ec07ee765'); // 네이티브 앱 키
    </script>
    

    <script>
        function copyLink() {
            const url = window.location.href;
            navigator.clipboard.writeText(url).then(() => {
                alert("링크가 복사되었습니다!");
            }).catch(() => {
                alert("복사 실패");
            });
        }



        const title = document.getElementById("post-title").value;
        const subtitle = document.getElementById("post-subtitle").value;
        const image = document.getElementById("post-image").value;
        const url = window.location.href;

        Kakao.Share.createDefaultButton({
            container: '#kakao-link-btn',
            objectType: 'feed',
            content: {
                title: title,
                description: subtitle,
                imageUrl: image,
                link: {
                    mobileWebUrl: url,
                    webUrl: url
                }
            },
            buttons: [
                {
                    title: '공모전 보러가기',
                    link: {
                        mobileWebUrl: url,
                        webUrl: url
                    }
                }
            ]
        });
    </script>
</th:block>
</body>
</html>