<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:utils="http://www.thymeleaf.org/extras/java8time"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:inline="text">

<th:block layout:fragment="meta">
    <title>건필 - 공모전 목록</title>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/pages/contest/contest.css"/>
</th:block>

<body data-action="contest">
<div layout:fragment="content">
    <div class="board-container  flex-columns">
        <h2 class="board-header">📢 공모전</h2>

<!--        장르필터-->
        <div class="category-filter">
            <button class="category-btn"
                    data-id=""
                    onclick="selectAllCategories(this)">
                전체
            </button>

            <button type="button"
                    th:each="cat : ${categories}"
                    th:data-id="${cat.id}"
                    th:text="${cat.categoryName}"
                    class="category-btn"
                    onclick="toggleCategory(this)">
            </button>
        </div>


        <div class="sort-filter">
            <div class ="sort-buttons">
                <button class="sort-btn" data-sort="recent" onclick="changeSort(this)">최신순</button>
                <button class="sort-btn" data-sort="deadline" onclick="changeSort(this)">마감 임박순</button>
            </div>


            <label for ="isClosedIncluded" class="closed-checkbox">
                <input type="checkbox" id="isClosedIncluded" onclick = "changeShow()">
                <span>마감된 공모전 포함</span>
            </label>
        </div>


        <div th:replace="~{contest/_contest-list-fragment :: contestListFragment(${contests}, ${currentPage}, ${totalPages}, ${boardCode})}"></div>

        <div id = "pagination-area">
            <div th:replace="~{commons/_pagination-fragment :: paginationFragment(${pageInfo}, ${action})}"></div>
        </div>

        <div class="contest-footer">
            <div class="contest-upload">
                <a th:href="@{/contest/write(boardCode=${boardCode})}" class="basic-btn">✍ 공모전 게시</a>
            </div>
        </div>
    </div>
    <input type="hidden" id="boardCode" th:value="${boardCode}"/>
</div>

<th:block layout:fragment="script">
    <script src="/js/commons/pagination.js"></script>
    <script src="/js/contest/contest.js"></script>
</th:block>
</body>
</html>
