
/* ========== 버튼 ========== */
.btn {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 0.95rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease;
}

.btn-primary {
    background-color: #1F4EB2;
    color: white;
}

.btn-primary:hover {
    background-color: #163d8f;
}

.btn-secondary {
    background-color: gray;
    color: white;
}

.btn-secondary:hover {
    background-color: #5c5c5c;
}



/* 일반버튼 */
.basic-btn {
    background-color: #1F4EB2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

.basic-btn:hover {
    background-color: #163d8f;
    color: white;
}

.basic-btn-border {
    border: 1px solid #ccc;
    border-radius: 4px;
}

a.basic-btn,
button.basic-btn,
a.delete-btn,
button.delete-btn {
    display: inline-block;
    text-align: center;
    line-height: 1.4;
    text-decoration: none;
    padding: 10px 16px;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

/* stat : 삭제버튼 */
.delete-btn {
    background-color: #e74c3c; /* 강렬한 빨간색 */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.delete-btn:hover {
    background-color: #c0392b;
}

/* end : 삭제 버튼*/

/* start : 취소 버튼 */
.cancel-btn {
    background-color: #e5e7eb; /* 연한 회색 */
    color: #111827; /* 진한 회색 텍스트 */
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
/* end : 취소 버튼 */



/* Start : 검색 버튼 */
.search-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    background-color: #4a90e2;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/* end : 검색 버튼 */

/* START : 공유버튼 모음 (공유) */

.kakao-link-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.kakao-link-btn img {
    width: 48px;
    height: 48px;
}

.link-copy-btn {
    height: 100%;
}

/* END : 공유버튼 모음(공유) */

/* start : 카테고리 버튼 디자인 */
.category-btn {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.category-btn.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

/* end : 카테고리 버튼 디자인 */


/* start : 정렬 버튼 디자인 */
.sort-btn {
    padding: 6px 14px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

.sort-btn:hover {
    background-color: #f4f4f4;
}

.sort-btn.active {
    background-color: #2a7ae4;
    color: #fff;
    border-color: #2a7ae4;
    font-weight: bold;
}
/* end : 정렬 버튼 디자인 */
