<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geonpil.mapper.CategoryMapper">

    <!-- 카테고리 가져오기 -->
    <select id="getCategoriesByBoardCode"
            parameterType="int"
            resultType="com.geonpil.domain.Category">
        SELECT category_id AS id,
        category_name AS categoryName
        FROM category
        WHERE board_code = #{boardCode}
    </select>

</mapper>