<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geonpil.mapper.ContestMapper">

    <resultMap id="contestPostResultMap" type="com.geonpil.domain.ContestPost">
        <id property="postId" column="post_id"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="viewCount" column="view_count"/>
        <result property="boardCode" column="board_code"/>
        <result property="createdAt" column="created_at"/>
        <result property="categoryName" column="category_name"/>
        <result property="categoryNames" column="category_names"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryIdsRaw" column="category_ids"/>
        <result property="subtitle" column="subtitle"/>
        <result property="hostName" column="host_name"/>
        <result property="posterUrl" column="poster_url"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="target" column="target"/>
        <result property="totalPrize" column="total_prize"/>
        <result property="firstPrize" column="first_prize"/>
        <result property="applyUrl" column="apply_url"/>
        <result property="contactInfo" column="contact_info"/>
    </resultMap>


    <insert id="insertContestPost" parameterType="com.geonpil.domain.ContestPost">
        INSERT INTO contest_post (
        contest_id,
        subtitle,
        poster_url,
        start_date,
        end_date,
        host_name,
        target,
        total_prize,
        first_prize,
        tags,
        past_winner_info,
        apply_url,
        contact_info
        )
        VALUES (
        #{postId},
        #{subtitle},
        #{posterUrl},
        #{startDate},
        #{endDate},
        #{hostName},
        #{target},
        #{totalPrize},
        #{firstPrize},
        #{tags},
        #{pastWinnerInfo},
        #{applyUrl},
        #{contactInfo}
        )
    </insert>


    <insert id="insertContestCategory">
        INSERT INTO CONTEST_CATEGORY (
        contest_id,
        category_id
        )
        VALUES (
        #{postId},
        #{categoryId}
        )
    </insert>


    <delete id="deleteCategoriesByPostId" parameterType="long">
        DELETE FROM contest_category
        WHERE contest_id = #{postId}
    </delete>

    <select id="findAllContests" resultMap="contestPostResultMap">
        SELECT
        b.post_id,
        b.title,
        b.view_count,
        b.created_at,
        ct.category_name,
        c.subtitle,
        c.host_name,
        c.poster_url,
        c.start_date,
        c.end_date,
        c.target,
        c.total_prize,
        c.first_prize
        FROM board b
        JOIN contest_post c ON b.post_id = c.contest_id
        JOIN category ct ON b.category_id = ct.category_id
        WHERE b.board_code = 3
        ORDER BY b.created_at DESC
    </select>


    <select id="findContestById" resultMap="contestPostResultMap">
        SELECT
        b.post_id,
        b.user_id,
        b.title,
        c.subtitle,
        b.content,
        b.view_count,
        b.created_at,
        c.host_name,
        c.poster_url,
        c.start_date,
        c.end_date,
        c.target,
        c.total_prize,
        c.first_prize,
        c.apply_url,
        c.contact_info,
        GROUP_CONCAT(cat.category_name ORDER BY cat.category_name SEPARATOR ',') AS category_names,
        GROUP_CONCAT(cat.category_id ORDER BY cat.category_id SEPARATOR ',') AS category_ids
        FROM board b
        JOIN contest_post c ON b.post_id = c.contest_id
        LEFT JOIN contest_category cc ON b.post_id = cc.contest_id
        LEFT JOIN category cat ON cc.category_id = cat.category_id
        WHERE b.board_code = 3
        AND b.is_deleted = false
        AND b.post_id = #{postId}
        GROUP BY b.post_id
    </select>

    <select id="findContestsByPage" resultMap="contestPostResultMap">
        SELECT
        b.post_id,
        b.title,
        b.view_count,
        b.created_at,
        c.subtitle,
        c.host_name,
        c.poster_url,
        c.start_date,
        c.end_date,
        c.target,
        c.total_prize,
        c.first_prize,
        GROUP_CONCAT(cat.category_name ORDER BY cat.category_name SEPARATOR ',') AS category_names
        FROM board b
        JOIN contest_post c ON b.post_id = c.contest_id
        LEFT JOIN contest_category cc ON b.post_id = cc.contest_id
        LEFT JOIN category cat ON cc.category_id = cat.category_id
        WHERE b.board_code = 3
        AND b.is_deleted = 0
        <if test = "!isClosedIncluded">
        AND (end_date >= CURDATE() OR end_date is null)
        </if>
        GROUP BY b.post_id
        <if test="categoryIds != null and categoryIds.size > 0">
            HAVING
            (
            COUNT(DISTINCT CASE WHEN cat.category_id IN
            <foreach item="id" collection="categoryIds" open="(" separator="," close=")">
                #{id}
            </foreach>
            THEN cat.category_id END) > 0
            )
        </if>
        <choose>
            <when test="sort == 'deadline'">
                ORDER BY c.end_date ASC
            </when>
            <otherwise>
                ORDER BY b.created_at DESC
            </otherwise>
        </choose>
        LIMIT #{size} OFFSET #{offset}
    </select>


    <update id="updateContestPost" parameterType="com.geonpil.domain.ContestPost">
        UPDATE contest_post
        SET
        subtitle = #{subtitle},
        poster_url = #{posterUrl},
        start_date = #{startDate},
        end_date = #{endDate},
        host_name = #{hostName},
        first_prize = #{firstPrize},
        apply_url = #{applyUrl},
        contact_info = #{contactInfo}
        WHERE contest_id = #{postId}
    </update>



    <select id="findLatestContest" resultMap="contestPostResultMap">
        SELECT
        b.post_id,
        b.title,
        b.view_count,
        b.created_at,
        b.board_code,
        c.subtitle,
        c.host_name,
        c.poster_url,
        c.start_date,
        c.end_date,
        c.target,
        c.total_prize,
        c.first_prize,
        GROUP_CONCAT(cat.category_name ORDER BY cat.category_name SEPARATOR ',') AS category_names
        FROM board b
        JOIN contest_post c ON b.post_id = c.contest_id
        LEFT JOIN contest_category cc ON b.post_id = cc.contest_id
        LEFT JOIN category cat ON cc.category_id = cat.category_id
        WHERE b.board_code = 3
        AND b.is_deleted = 0
        AND (end_date >= CURDATE() OR end_date is null)
        GROUP BY b.post_id
        ORDER BY b.created_at DESC
        LIMIT #{limit}
    </select>


    <select id="contestCountAll" resultType="int">
        SELECT COUNT(DISTINCT b.post_id)
        FROM board b
        JOIN contest_post c ON b.post_id = c.contest_id
        LEFT JOIN contest_category cc ON b.post_id = cc.contest_id
        <if test="categoryIds != null and categoryIds.size > 0">
            LEFT JOIN category cat ON cc.category_id = cat.category_id
        </if>
        WHERE b.board_code = #{boardCode}
        AND b.is_deleted = 0
        <if test="categoryIds != null and categoryIds.size > 0">
            AND cc.category_id IN
            <foreach item="id" collection="categoryIds" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>



</mapper>
