<th:block th:fragment = "editMyInfoFragment">
    <div>
        <section>
            <label for="nickname">닉네임</label>
            <input type="text" id="nickname" name="nickname" th:value="${user.nickname}" required>
            <div id="nicknameCheck" class="hint"></div>
            <button class = "basic-btn" type="button" id="changeNicknameBtn" disabled>변경</button>
        </section>
        <!-- 이메일은 읽기전용 표시 -->

        <section>
            <p>이메일: <strong th:text="${user.email}"></strong></p>
        </section>

        <section>
        <a th:href="@{/withdraw}" class="btn btn-danger">회원 탈퇴</a>
        </section>
    </div>
</th:block>