<th:block th:fragment = "editPasswordFragment">
        <div>
                <label>현재 비밀번호</label>
                <input type="password" id = "currentPassword" name="currentPassword" required />
        </div>
        <div>
                <label>새 비밀번호</label>
                <input type="password" id = "newPassword" name="newPassword" required />
                <div id="passwordValidation" class="hint">영문, 숫자 포함 8자 이상</div>
        </div>
        <div>
                <label>새 비밀번호 확인</label>
                <input type="password" id = "confirmPassword" name="confirmPassword" required />
                <div id="confirmValidation" class="hint"></div>
        </div>
        <button id = "changePasswordBtn" class= "basic-btn" type="button" disabled>비밀번호 변경</button>
</th:block>