<th:block th:fragment = "editPasswordFragment">
        <th:block th:if="${user.provider == null}">
                <div>
                        <label>현재 비밀번호</label>
                        <input type="password" id = "currentPassword" name="currentPassword" required />
                </div>
                <div>
                        <label>새 비밀번호</label>
                        <input type="password" id = "newPassword" name="newPassword" required />
                        <div id="passwordValidation" class="hint">영문, 숫자 포함 8자 이상</div>
                </div>
                <div>
                        <label>새 비밀번호 확인</label>
                        <input type="password" id = "confirmPassword" name="confirmPassword" required />
                        <div id="confirmValidation" class="hint"></div>
                </div>
                <button id = "changePasswordBtn" class= "basic-btn" type="button" disabled>비밀번호 변경</button>
        </th:block>

        <th:block th:if="${user.provider != null}">
                <p class="notice" th:if="${user.provider != null}">
                        소셜 로그인 사용자(예: 네이버, 카카오)는 비밀번호를 변경할 수 없습니다.<br>
                        계정 관련 설정은 해당 로그인 제공 사이트에서 변경해주세요.
                </p>
        </th:block>
</th:block>

