<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">

<div layout:fragment="meta">
    <title>마이페이지</title>
</div>
<div layout:fragment="css">
    <link rel="stylesheet" href="/css/pages/mypage.css"/>
</div>

<div layout:fragment="content">
    <section class="mypage-container">
        <div class ="mypage-wrapper card-wrapper">
            <div class="tabs">
                <button class="btn basic-btn-border tab-btn active" data-target="myInfo">회원 정보</button>
                <button class="btn basic-btn-border tab-btn" data-target="nickname">회원 정보 수정</button>
                <button class="btn basic-btn-border tab-btn" data-target="password">비밀번호 변경</button>
            </div>

            <div id= "mypage-content" class = "mypage-content">
                <th:block th:replace = "user/mypage/_myInfo-fragment :: myInfoFragment"></th:block>
            </div>
        </div>
    </section>
</div>

<th:block layout:fragment="script">
    <script type = "module" th:inline="javascript">
        import { initPasswordChange } from '/js/mypage/password-change.js';
        import { initNicknameChange } from '/js/mypage/nickname-change.js';

        document.addEventListener("DOMContentLoaded", function () {
            const tabButtons = document.querySelectorAll(".tab-btn");
            const tabContents = document.querySelectorAll(".tab-content");
            const provider = /*[[${user?.provider}]]*/ null;

            tabButtons.forEach(btn => {
                btn.addEventListener("click", function () {
                    const target = this.dataset.target;

                    tabButtons.forEach(b => b.classList.remove("active"));
                    tabContents.forEach(c => c.classList.add("hidden"));
                    this.classList.add("active");

                    loadFragment(target);

                });
            });

            function loadFragment(target){
                csrfFetch(`/mypage/fragment/${target}`)
                    .then(res => res.text())
                    .then(html => {document.getElementById("mypage-content").innerHTML = html;

                                      if(target === 'nickname') initNicknameChange();
                                        if(target === 'password' && !provider) initPasswordChange();
                                     })



            }

        });

    </script>
</th:block>
</html>